{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-4">Lista produktów</h2>
    
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nazwa produktu</th>
                <th>Liczba opinii</th>
                <th>Liczba zalet</th>
                <th>Liczba wad</th>
                <th>Średnia ocena</th>
                <th>Pobierz opinie</th>
            </tr>
        </thead>
        <tbody>
          {% for product in products %}
            <tr>
                <td>
                    <a href="/product/{{product.product_id}}" class="fw-bold">{{ product.product_name }}</a>
                </td>
                <td>{{ product.opinions_count }}</td>
                <td>{{ product.pros_count }}</td>
                <td>{{ product.cons_count }}</td>
                <td>⭐ {{ product.average_stars|round(2) }}</td>
                <td>
                    <a href="/download/csv/{{product.product_id}}" class="btn btn-sm btn-success">CSV</a>
                    <a href="/download/xlsx/{{product.product_id}}" class="btn btn-sm btn-primary">Excel</a>
                    <a href="/download/json/{{product.product_id}}" class="btn btn-sm btn-warning">JSON</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
